body {
    margin: 50px auto;
    width: 70%;
}
ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-size: 10px;
}
li {
    margin-top: 10px;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    border-bottom:1px solid #CCC;
    float:left;
    width:100%;
    padding-bottom:0px;
}

p {
     font-size: 1.5em;
     line-height: 1.4em;
     color: #333;
}
footer {

}

